host: $REMOTE_HOST
user: $REMOTE_USER
password: $REMOTE_PASSWORD

copy:
{% for src, dest in copy_instructions %}
  - from: "{{ src }}"
    to: "{{ dest }}"
    overwrite: true
{% endfor %}

collect:
{% for src, dest in collect_instructions %}
  - from: "{{ src }}"
    to: "{{ dest }}"
    overwrite: true
{% endfor %}

sbatch:
  script: "{{ job.script }}"
  from: "{{ job.source }}"
  overwrite: true
continue_if_job_fails: true