stages: 
  - build
  - simulation
  - verify

deploy-singularity-mpich-bind:
  stage: build
  image: python:3.10

  before_script:
    - apt-get update && apt-get install -y rsync
    - chmod 700 $(dirname $PRIVATE_KEY)
    - chmod 600 $PRIVATE_KEY

  script:
    - ssh -i $PRIVATE_KEY -o StrictHostKeyChecking=no $REMOTE_USER@$REMOTE_HOST mkdir -p Containers
    - rsync -r -e "ssh -i $PRIVATE_KEY -o StrictHostKeyChecking=no" "Containers/rockylinux9-mpich-bind.sif" "$REMOTE_USER@$REMOTE_HOST:Containers/rockylinux9-mpich-bind.sif"

  needs:
    - pipeline: $PARENT_PIPELINE_ID
      job: build-singularity-mpich-bind


{% for test_case in test_cases %}
run-{{ test_case }}:
  stage: simulation
  image: python:3.10

  variables:
    TEST_CASE: {{ test_case }}

  before_script:
    - pip install hpc-rocket==0.4.0

  script:
    - hpc-rocket launch tests/rocket.yml |& tee hpcrocket.log
    - hpc-rocket watch tests/rocket.yml $(python parsejobid.py hpcrocket.log)
    - hpc-rocket finalize tests/rocket.yml
    - cat results/laplace.out

  after_script:
    - hpc-rocket cancel tests/rocket.yml $(python parsejobid.py hpcrocket.log)

  artifacts:
    expire_in: 1 hrs
    paths:
      - results/

  needs:
    - deploy-singularity-mpich-bind


verify-{{ test_case }}:
  stage: verify
  image: python:3.10
  before_script:
    - pip install "fieldcompare[all]"
    
  script:
    - fieldcompare file results/TemperatureField.avs reference_data/{{ test_case }}.avs

  needs:
    - run-{{ test_case }}

{% endfor %}
